/* Footer.css */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  background-color:var(--color-black);
  padding: 20px;
}

.footer__top {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.logo2{
  width: 7%;
}


.footer__social-icons {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.footer__icon {
  font-size: 24px;
  color: white;
}

.footer__icon:hover {
  color: var(--color-golden);
}

.p__opensans,
.p__opensans2 {
  margin: 10px 0; /* Yukarı ve aşağıda biraz boşluk ekledim. */
}



.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
 
}

.logo-section {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.img {
  display: flex; /* logo'ya flex özelliğini ekledik */
  width: 20%;
}
.img img{
  width: 50%;
}

.footer__copyright-logo  {
  display: flex;
  align-items: center;
  margin-left: auto;
}


