.bg {
  background-image: url('./assets/bg.svg');
    background-size: 112rem;
      background-position: center center;
      background-repeat:repeat; 
      background-attachment: scroll;
      overflow-x: hidden;
}

@media (max-width: 600px) {
  .bg {
    background-image: url('./assets/bg.svg');
    background-size: 95rem;
      background-position: center center;
      background-repeat:initial;
      background-attachment: scroll;
  }
}

.section__padding {
    padding: 4rem 6rem;
  }
.section__padding1 {
    padding: 1rem 2rem;
  }
  
  .flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app__bg {
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
  }
  .app1__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
  }
  
  .app__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    min-height: 100vh;
  }
  
  .app__wrapper_info {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .app__wrapper_img {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-left: 2rem;
  }
  
  .app__wrapper_img-reverse {
    justify-content: flex-start;
    margin-right: 2rem;
  }
  
  .app__wrapper_img img {
    width: 80%;
  }
  
  .custom__button {
    cursor: pointer;
    font-size: 10x;
    padding: 10px 45px;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    border: none;
}

 .stripe {
  font-weight:bolder;
  border-radius: 30px;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-image: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  background-size: 100%;
  transition: background 0.3s ease-in-out;
}

.stripe:hover {
  background-position: 170px;
}


  
  .p__cormorant {
    font-family: var(--font-base);
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: 0.04em;
    font-feature-settings: 'tnum' on, 'lnum' on;
    line-height: 29.9px;
    font-size: 23px;
  }
  
  .p__opensans {
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    
  }
  
  .p__opensans2 {
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    font-size: 10px;
    
  }
  

  
  .headtext__cormorant {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-size: 64px;
    line-height: 83.2px;
    letter-spacing: 0.04em;
  }
  
  .spoon__img {
    width: 30px;
  }
  .spoon__img path {
    fill: var(--color-golden);
  }
  
  @media screen and (min-width: 2000px) {
    .custom__button,
    .p__cormorant {
      font-size: 37px;
      line-height: 67px;
    }
  
    .p__opensans {
      font-size: 30px;
      line-height: 50px;
    }
  
    .headtext__cormorant {
      font-size: 150px;
      line-height: 210px;
    }
  
    .spoon__img {
      width: 80px;
    }
  }
  
  @media screen and (max-width: 1150px) {
    .app__wrapper {
      flex-direction: column;
    }
  
    .app__wrapper_img {
      margin: 5rem 0 0 0;
    }
  
    .app__wrapper_img-reverse {
      margin: 0 0 5rem 0;
    }
  
    .app__wrapper_img img {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 850px) {
    .section__padding {
      padding: 4rem;
    }
  }
  
  @media screen and (max-width: 650px) {
    .section__padding {
      padding: 4rem 2rem;
    }
    
    .p__cormorant {
      font-size: 21px;
    }
  
    .p__opensans {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .p__opensans {
      font-size: 12px;
    }
  
    .p__cormorant {
      font-size: 19px;
    }
  
    .headtext__cormorant {
      font-size: 45px;
      line-height: 70px;
    }
  }